[submodule "datasets/rover"]
	path = datasets/rover
	url = git@github.com:vbronetskyi/slam-rover-experiments.git
[submodule "datasets/nclt"]
	path = datasets/nclt
	url = git@github.com:vbronetskyi/slam-nclt-experiments.git
[submodule "datasets/robotcar"]
	path = datasets/robotcar
	url = git@github.com:vbronetskyi/slam-robotcar-experiments.git
[submodule "datasets/nclt_kaggle"]
	path = datasets/nclt_kaggle
	url = git@github.com:vbronetskyi/nclt-kaggle-place-recognition.git
[submodule "simulation"]
	path = simulation
	url = git@github.com:vbronetskyi/husky-gazebo-simulation.git
